<main>

    <form action="/admin/novedades/modificar" method="post" class="formnov">
        <p>Id de novedad:{{novedad.id}}</p>
        <input type="hidden" value="{{novedad.id}}" name="id">
        <p>
            <textarea id="titulo" placeholder="Título" name="titulo" rows="1">{{novedad.titulo}}</textarea>
        </p>

        <p>
            <select name="autor" id="autor">
                <option value="{{novedad.autor}}">{{novedad.autor}}</option>
                <option value="María Soledad Varela">María Soledad Varela</option>
                <option value="Maia">Maia</option>
            </select>
        </p>

        <p>
            <textarea name="cuerpo" id="cuerpo" cols="30" rows="10" placeholder="Ingrese el texto de la novedad"
                value={{novedad.cuerpo}}>{{novedad.cuerpo}}</textarea>
        </p>
        <p><label for="imagenes">Imagenes:</label><br/>
            <textarea name="imagenes" id="imagenes" rows="1"
                >{{novedad.imagenes}}</textarea>
        </p>
        <p>
            <label for="etiquetas">Hashtags:</label><br/>
            <textarea name="etiquetas" id="etiquetas" cols="30" rows="1" placeholder="hashtags"
                value={{novedad.etiquetas}}>{{novedad.etiquetas}}</textarea>
        </p>

        {{#if error}}
        <p>
            {{message}}
        </p>
        {{/if}}
        <button class="submit-login" type="submit">Actualizar</button>
        <a class="regresar" href="/admin/novedades">Volver</a>
    </form>

    <div class="notacion">
        <p><b><u>Para dar formato al texto:</u></b></p>
        <p>Para ingresar un párrafo, escribí entre &lt;p&gt;&lt;/p&gt;</p>
        <p><b>Negrita:</b>&lt;b&gt;&lt;/b&gt; - <i>Itálica:</i> &lt;i&gt;&lt;/i&gt; - <u>Subrayado:</u>
            &lt;u&gt;&lt;/u&gt;</p>
        <p>Para insertar una imagen, escribí &lt;img src="<i>acá ingresá el link a la foto"</i>&gt;</p>
    </div>

</main>