<main>

    <form action="/admin/novedades/modificar" method="post" class="formnov">
        <p>Id de novedad:{{novedad.id}}</p>
        <input type="hidden" value="{{novedad.id}}" name="id">
        <p>
            <input type="text" placeholder="Título" name="titulo" value={{novedad.titulo}}>
        </p>

        <p>
            <select name="autor" id="autor">
                <option value="{{novedad.autor}}">{{novedad.autor}}</option>
                <option value="María Soledad Varela">María Soledad Varela</option>
                <option value="Maia">Maia</option>
            </select>
        </p>

        <p>
            <textarea name="cuerpo" id="cuerpo" cols="30" rows="10" placeholder="Ingrese el texto de la novedad"
                value={{novedad.cuerpo}}>{{novedad.cuerpo}}</textarea>
        </p>
        {{#if error}}
        <p>
            {{message}}
        </p>
        {{/if}}
        <button class="submit-login" type="submit">Actualizar</button>
        <a class="regresar" href="/admin/novedades">Volver</a>
    </form>

</main>