<main>

    <h3>Id de novedad:{{novedad.id}}</h3>

    <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data" class="formnov">

        <input type="hidden" value="{{novedad.id}}" name="id">
        <p>
            <textarea id="titulo" placeholder="Título" name="titulo" rows="1" class="inputs" required>{{novedad.titulo}}</textarea>
        </p>

        <p>
            <select name="autor" id="autor">
                <option value="{{novedad.autor}}">{{novedad.autor}}</option>
                <option value="María Soledad Varela">María Soledad Varela</option>
                <option value="Maia">Maia</option>
            </select>
        </p>

        <p>
            <textarea name="cuerpo" id="my-expressjs-tinymce-app" value={{novedad.cuerpo}}>
                {{novedad.cuerpo}}
               
            </textarea>
        </p>

        <div class="img-modif-display">
            <div>
                <div>Imagen Actual: </div>
                <div>
                    {{#if previewModif}}
                    <img class="img-modif" src="../../../images/uploads/{{novedad.filename}}"
                        alt="Previsualización de imagen" id"img-preview-modif">
                    {{/if}}
                    {{mensajeImg}}
                </div>
            </div>
            <div class="nueva-imagen">

                <div>Nueva Imagen: </div>
                <div>

                    <input type="file" name="images" accept="image/jpeg, image/png" id="uploadImage"
                        onchange="previewImage();" class="file-img">

                    <img class="img-preview" width="150" id="uploadPreview" src="../../../images/aguja-perro.jpg" />

                    <input type="hidden" name="imagenes" id="imgPreview">
                    

                </div>
            </div>
        </div>



        <label for="etiquetas">Hashtags:</label><br />
        <textarea name="etiquetas" id="etiquetas" cols="30" rows="1" placeholder="hashtags"
            value={{novedad.etiquetas}} class="inputs" required>{{novedad.etiquetas}}</textarea>
        </p>

        {{#if error}}
        <p>
            {{message}}
        </p>
        {{/if}}
       <button class="submit-login" type="submit" id="buttonsubmit">Actualizar</button>
        <a class="regresar" href="/admin/novedades">Volver</a>
    </form>

<div id="loader"></div>

</main>