<main>
    <div class="inicio">

        <div class="saludo">

            <script>
                horario(hora);
            </script>
            <span class="usuario-novedades">{{usuario}}!</span> ¿Qué novedades hay para hoy?

        </div>

        <div class="cerrar">

            <a href="/admin/login/logout" class="btn-danger cerrarses"><i class="fas fa-sign-out-alt"></i> Cerrar
                Sesión</a>
        </div>

    </div>

    <div class="nuevo">
        <div>
            <h4>Novedades</h4>
        </div>
        <div> <a href="/admin/novedades/agregar" class="nuevobtn btn-success"><i class="fas fa-plus"></i> Nuevo</a>
        </div>
    </div>

    <div class="orden">

        <p><a href="/admin/novedades/asc" class="boton">Ascendente</a></p>

        <p><a href="/admin/novedades" class="boton">Descendente</a></p>


    </div>

    <div class="container d-sm-none search">
        <div class="row justify-content-center">
            <div class="col-8">
                <form action="novedades" method="get">

                    <label for="search" class="button-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </label>
                    <input type="search" id="search" placeholder="Buscar" name="q" {{#if q}}value="{{q}}" {{/if}}>

                </form>
            </div>
        </div>
    </div>

    <div class="container d-none d-sm-block search">
        <div class="row justify-content-end">
            <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
                <form action="novedades" method="get" class="search">

                    <label for="search" class="button-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </label>
                    <input type="search" id="search" placeholder="Buscar" name="q" {{#if q}}value="{{q}}" {{/if}}>

                </form>
            </div>
        </div>
    </div>


    <table class="table table-striped">
        <thead class="thead">
            <tr>
                <th scope="col" class="col-1">#</th>
                <th scope="col" class="col-9">Título</th>
                <th scope="col" class="acciones">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each novedades}}
            <tr>
                <th scope="row">{{id}}</th>
                <td><a href="/admin/novedades/preview/{{id}}" target="_blank">{{titulo}}</a></td>
                <td class="acciones">

                    <a href="/admin/novedades/modificar/{{id}}"><i class="fas fa-edit"></i></a>
                    <a href="/admin/novedades/eliminar/{{id}}"><i class="fas fa-trash-alt"
                            onclick="return confirm('¿Estás seguro que quieres eliminar esta novedad?')"></i></a>
                            <input type="checkbox">
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
    <a href="/admin/novedades/eliminar/{{id}}" onclick="return confirm('¿Estás seguro que quieres eliminar esta novedad?')">Borrar Seleccionados</a>
    
    <div class="resultado">
        {{#if is_search}}
        {{#unless novedades.length}}
        No se encontraron resultados para "<b>{{q}}</b>".
        {{/unless}}
        {{/if}}
    </div>
</main>