<main>
    <div class="novedadestitulo" id="novedades">
        <h2>Novedad id: {{novedad.id}} {{id}}</h2>
    </div>




    <div class="container-fluid novedades" value={{id}}>
        <div class="row">
            <div class="col">
                <h3>{{novedad.titulo}}</h3>
            </div>
        </div>

        <div class="row bajada">
            <div class="col">
                <p class="fecha">{{novedad.fechahora}} hs</p>
                <span class="icon-calendar"></span>
                <span class="icon-clock">-</span>
                <p class="autor">{{novedad.autor}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col contenido">
                <p>{{{novedad.cuerpo}}}

                </p>
                <p class="imagen-novedad"><img class="img-modif" src="../../../images/uploads/{{{novedad.filename}}}" /></p>
            </div>
        </div>
        <hr class="etiquetahr">
        <div class="row">
            <div class="col etiquetas">
                <p>{{novedad.etiquetas}}
                </p>
            </div>
        </div>
    </div>

    <div class="regresar-centro">
        <a class="regresar" href="/admin/novedades">Volver</a>
        <a class="borrar" href="/admin/novedades/eliminar/{{novedad.id}}"
            onclick="return confirm('¿Estás seguro que quieres eliminar esta novedad?')">Borrar</a>
    </div>


</main>