<main>
    <!-- INICIO NOVEDADES -->


    <div class="novedadestitulo" id="novedades">
        <h2>NOVEDADES</h2>
    </div>

    <div class="container d-sm-none search">
        <div class="row justify-content-center">
            <div class="col-8">
                <form action="novedades" method="get">

                    <label for="search" class="button-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </label>
                    <input type="search" id="search" placeholder="Buscar" name="q" {{#if q}}value="{{q}}" {{/if}}>

                </form>
            </div>
        </div>
    </div>

    <div class="container d-none d-sm-block search">
        <div class="row justify-content-end">
            <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
                <form action="novedades" method="get" class="search">

                    <label for="search" class="button-search">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </label>
                    <input type="search" id="search" placeholder="Buscar" name="q" {{#if q}}value="{{q}}" {{/if}}>

                </form>
            </div>
        </div>
    </div>

    {{#each novedades}}
    <div class="container-fluid novedades" value={{id}}>
        <div class="row">
            <div class="col">
                <h3>{{titulo}}</h3>
            </div>
        </div>

        <div class="row bajada">
            <div class="col">
                <p class="fecha">{{fechahora}} hs</p>
                <span class="icon-calendar"></span>
                <span class="icon-clock">-</span>
                <p class="autor">{{autor}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col contenido">
                <p>{{{cuerpo}}}

                </p>
                <p class="imagen-novedad">{{{imagenes}}}</p>
            </div>
        </div>
        <hr class="etiquetahr">
        <div class="row">
            <div class="col etiquetas">
                <p>{{etiquetas}}
                </p>
            </div>
        </div>
    </div>
    {{/each}}

    <div class="resultado">
        {{#if is_search}}
        {{#unless novedades.length}}
        No se encontraron resultados para "<b>{{q}}</b>".
        {{/unless}}
        {{/if}}
    </div>
    <!-- FIN NOVEDADES -->
</main>